<div class="card">
  <div class="card-header">Filtros</div>

  <div class="card-body bg-dark text-light">
    <form>
      <div class="form-group">
        <label for="de">De</label>
        <input
          type="number"
          id="de"
          class="form-control"
          placeholder="10,00"
          min="10"
          step="0.01"
          style="
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
          "
        />
      </div>

      <div class="form-group">
        <label for="ate">Até</label>
        <input
          type="number"
          id="ate"
          class="form-control"
          placeholder="100,00"
          min="100"
          step="0.01"
          style="
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
          "
        />
      </div>

      <button class="btn btn-primary btn-block btn-sm">Filtrar</button>
    </form>
  </div>
</div>
